<div id="app">
</div>
<div id="seatInput">

</div>

<script id="AppViewTemplate" type="html/template">
  <div id="flightForm">

  </div>
  <table id="flights">

  </ul>
</script>

<script id="FlightInputViewTemplate" type="html/template">
  <h3>Choose your journey</h3>
  <label value="From">From</label>

  <input id="from" type="text"/>
  <label value="to">To</label>
  <input id="to" type="text"/>
  <button id="findFlight">Search</button>
</script>

<script id="SeatViewTemplate" type="html/template">
  <h3>Quick book your flight*</h3>
  <p>*Seat may be booked for you</p>
  <div id="seat-map">

  </div>

</script>

<script id="SeatInputViewTemplate" type="html/template">

<div class="demo-box">
<div class="flight-info">
  <div class="segments">
    <div class="segment departure">
      <time>06:30</time>
      <span class="airport"><%%= departure %></span>
    </div>
    <div class="divider"><span class="plane"></span></div>
    <div class="divider adaptive">
    <span class="plane"></span>
    </div>
    <div class="segment destination">
      <time>11:40</time>
      <span class="airport"><%%= destination %></span>
    </div>
  </div>
</div>
<div class="flight-duration">
8h 40min Length of trip
</div>
  <div id="buttonCont">
    <button id="sendData">Click to fly</button>
    <input type="hidden" value="<%= @current_user.id %>"/>
  </div>
  <div id="seatDisplay">

  </div>
</script>
