<div id="app">
  App loaded within this
</div>

<script id="AppViewTemplate" type="html/template">
  <div id="flightForm">

  </div>
  <ul id="flights">
  </ul>
</script>

<script id="FlightInputViewTemplate" type="html/template">
  <h3>Choose your journey</h3>
  <input id="to" type="text"/>
  <input id="from" type="text"/>
</script>
