<div id="app">
  App loaded within this
</div>

<script id="AppViewTemplate" type="html/template">
  <div id="flightForm">

  </div>
  <ul id="flights">
  </ul>
</script>

<script id="FlightInputViewTemplate" type="html/template">
  <h3>Choose your journey</h3>
  <label value="From">From</label>

  <input id="from" type="text"/>
  <label value="to">To</label>
  <input id="to" type="text"/>
  <button id="findFlight">Search</button>
</script>

<script id="SeatViewTemplate" type="html/template">
  Seats should go here
  <div id="seat">
  </div>
</script>
