<section class="apresenteichan">
    <a href="" data-bf="10 stylish" data-af="with less">
    hover effects
    </a>
  </section>

  <section class="p8">
    <a href="#" data-cont="wrecked">
      wrecked
      <div class="line"></div>
    </a>
  </section>
